@media (min-width: 1101px) {

    header {
        position: sticky;
        top: 0;
    }


    header ul #title {
        font-size: 1.4em;
        margin: 0 35px;
    }

    #content {
        width: 90%;
    }

    main #main-news article {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    main .news-content {
        width: 40%;
    }

    aside {
        position: right;
        display: block;
        width: 23%;
    }

    main {
        width: 75%;
    }

    aside section {
        margin: 25px 0;
    }

    aside .section-title {
        width: 100%;
        margin-bottom: 10px;
    }

    aside ul {
        padding: 0 5px;
    }

    aside ul a {
        display: block;
        margin-bottom: 10px;
        transition: all 100ms;
    }

    aside ul a:hover {
        color: var(--color-primary);
        font-weight: bold;
    }

    
    aside #searching form {
        display: flex;
        justify-content: space-between;
    }

    aside #searching form #search-input {
        width: 67%;
    }

    aside #searching form .btn {
        width: 32%;

    }


    aside #newsletter article {
        padding: 0 5px;
    }

    aside #newsletter p {
        font-size: .8em;
    }

    aside section #subscribe input {
        width: 100%;
        display: block;
        margin: 8px auto;
    }


    /* RECENT POSTS */
    main .post-section article {
        border-top: 1px solid var(--color-primary);
    }

    main .post-section ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    main .post-section li {
        margin: 5px 0;
        width: 32.5%;
        display: block;
    }

    main .post-section li h4 {
        margin-top: 5px;
        line-height: 20px;
        font-size: .8em;
    }

    main .post-section a {
        display: block;
        transition: all 400ms;
        text-align: center;
    }

    main .post-section a:hover {
        background-color: var(--color-primary);
    }
    main .post-section a:hover h4 {
        color: white;
    }

    main .post-section a:hover img {
        height: 100%;
        min-width: 100%;
        display: block;
    }

    main .post-section .img-container {
        height: 200px;
        overflow: hidden;
        text-align: center;
    }

    main .post-section li img {
        display: block;
        height: 300px;
        /* width: 100%; */
        transition: all 300ms;
    }


}