:root {
    --color-primary: rgb(37, 0, 248);
    --color-primary-dark: rgb(27, 1, 173);
    --color-primary-light: rgb(226, 227, 252);
    --bg-primary: rgb(245, 245, 245);
    --bg-secondary: rgb(231, 231, 231);
    --footer-color: rgb(10, 10, 20);
    --font-size: 1em;
    --text-color: rgb(0, 0, 0);
    --footer-text-color: rgb(235, 235, 235);
    --dimmed-text-color: rgba(255, 255, 255, 0.568);
    --text-box-color: white;
    --border-radius: .5em;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--text-color);
}

body,
html {
    background-color: var(--bg-primary);
    min-width: 460px;
    position: relative;
    
    font-size: var(--font-size);
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, sans-serif;
    font-weight: 300;

}

ul {
    list-style: none;
}

a {
    cursor: pointer;
    color: var(--text-color);
}

.btn {
    display: block;
    padding: 8px 10px;
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    color: var(--text-box-color);
    cursor: pointer;
    font-size: .75em;
    text-align: center;
    transition: 200ms;

    text-transform: capitalize;
}

.btn:hover {
    background-color: var(--color-primary-dark);
    border-color: var(--color-primary-dark);

}

.btn-click:active {
    scale: 0.97;
}

.dispose {
    display: none !important;
}

input {
    padding: 8px;
}

.clear {
    clear: both;
    display: block;
}


header {
    display: block;
    position: relative;
    width: 100%;
    background: var(--bg-primary);


    border-bottom: 2px solid var(--color-primary);
    margin-bottom: 20px;
    z-index: 99995;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.26);
}

#content {
    display: block;
    height: fit-content;
    position: relative;
    width: 90%;
    margin: 0 auto;
}

main,
#main-news {
    min-width: 350px;
}

main #main-news article {
    width: 100%;
    padding: 10px 0;
}

#content section .section-title {
    background-color: var(--color-primary);
    padding: 5px 5px;
    display: inline-block;
    color: var(--text-box-color);
}

main #main-news article h1 {
    font-size: 1.6em;
}

main .news-content {
    float: right;
}

main .news-content p {
    margin: 15px 0;
    text-align: justify;

}

.read-more {
    width: 100px;
}

main section {
    margin-bottom: 20px;
}

/* RECENT POSTS */
main .post-section article {
    padding-top: 10px;
    border-top: 1px solid var(--color-primary);
}

main .post-section ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .post-section li {
    margin: 5px 0;
    width: 32.5%;
    display: block;
}

main .post-section li h4 {
    margin-top: 5px;
    line-height: 20px;
    font-size: .8em;
}

main .post-section a {
    display: block;
    transition: all 400ms;
    text-align: center;
}

main .post-section a:hover {
    background-color: var(--color-primary);
}

main .post-section a:hover h4 {
    color: white;
}

main .post-section a:hover img {
    height: 100%;
    min-width: 100%;
    display: block;
}

main .post-section .img-container {
    height: 200px;
    overflow: hidden;
    text-align: center;
}

main .post-section li img {
    display: block;
    max-height: 300px;
    /* width: 100%; */
    transition: all 300ms;
}


/* FOOTER */
footer {
    position: relative;
    background-color: var(--footer-color);
}

footer * {
    color: var(--footer-text-color);
    font-size: 99%;
}

footer a.btn {
    padding: 10px 0;
    position: sticky;
    top: 0;
}

footer section {
    width: 90%;
    margin: 0 auto;
}

article#about-us {
    margin-top: 10px;
    text-align: justify;
}

