@media (max-width: 1122px) {
   

    main #main-news article{
        padding: 10px;
    }

    main #main-news article img,
    main #main-news article * {
        width: 100%;
    }

    main #main-news article img {
        margin: 0 0 15px 0;
    }
}

@media (min-width: 501px) {
    aside {
        position: right;
        display: block;
        width: 28%;
    }

    main {
        width: 70%;
    }
}