
@media (max-width: 700px) and (min-width: 501px){

    header ul #title {
        top: -50px;
        left: auto;
        border: 1px solid red;
        margin-left: 25%;
        right: auto;
        position: absolute;
    }
}
