@media (min-width: 992px){
    main {
        width: 74%;
    }

    aside {
        width: 23%;
    }

    section#main-news {
        padding: 15px;
    }

    section#main-news article {
        display: flex;
        padding-bottom: 0;
        justify-content: space-between;
        align-items: center;
    }
    
    section#main-news article img {
        display: block;
        width: 57%;
    }
    
    section#main-news #news-content {
        display: block;
        width: 40%;
    }

    #news-content p {
        margin: 10px 0;
        text-align: justify;
    }

    #news-content .read-more {
        width: 100px;
    }

    /* POSTS */
    section.post-section div.img-container  {
        height: 150px;
    }
}