@media (min-width: 768px) {
    header {
        padding: 20px 0;
    }

    #menu-bar {
        padding: 0;
    }

    #btn-menu {
        display: none;
    }

    #title {
       
        display: inline-block;
        position: absolute;
        margin: 0 auto;
        left: 5px;
        top: 18px;
        z-index: -9;
        text-align: center;
    }

    .nav-menu {
        display: block;
        padding: 0;
        box-shadow: none;
        margin: 0;
    }

    .nav-menu ul {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 9;
        margin-top: 0;
    }

    .nav-menu .space {
        width: 200px;
        display: block;
    }

    header .nav-menu li {
        text-indent: 0;
    }

    /* BODY */
    #content {
        width: 95%;
        
    }
    main {
        float: left;
        width: 70%;
    }
    aside {
        padding: 0;
        margin: 0;

        width: 28%;

        display: block;
        float: right;
    }

    aside * {
        display: block;
        width: 100%;
    }

    aside section#topics {
        margin: 20px 0;
    }

    aside section#topics a {
        display: block;
        transition: all 500ms;

        padding: 5px 8px;
    }
    

    aside section#topics li:hover a {
        color: var(--color-primary);
        padding-left: 10px;
    }

    aside input.btn {
        margin-top: 5px;
    }

    aside section#newsletter p {
        margin: 10px 0;
    }


}