@media (min-width: 576px) {
    :root{
        --font-size : 1em;
    }


    aside {
        display: none;
    }

    #content {
        width: 90%;
    } 

    main {
        display: block;
        margin: 0 auto;
        float: none;
        width: 100%;
    }

    main #main-news article img,
    main #main-news article * {
        width: 100%;
    }

    main #main-news article img {
        margin: 0 0 15px 0;
    }
}
