/* HEADER */
header {
    padding: 15px 10px;
    align-items: top;
}

header #btn-menu input {
    display: none;
}

header #btn-menu label {
    padding: 10px 20px;
    text-indent: -9999px;
    display: block;
    
    text-align: center;
    background: url("../../images/menu-icon.png") no-repeat center;
    background-size: 75%;

    cursor: pointer;

    border: 1px solid transparent;
    border-radius: .5em;

    transition: all 150ms;
}

header #btn-menu label:hover {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.02);
}

header #btn-menu label:active{
    
    scale: 0.97;
}

#btn-menu {
    display: flex;
    align-items: center;
}

#menu-bar {
    display: flex;
    width: 100%;
    padding: 10px 0;
}

#title {
    text-align: center;
    width: 100%;

    font-weight: bold;
    font-size: 2em;
    font-style: italic;
}

.nav-menu{
    margin-top: 10px;
    width: 100%;
    padding: 0px;
    display: block;

    border-radius: 0em;
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.219);
}

header .nav-menu li {
    text-indent: 20px;
}


.nav-menu li a {
    padding: 10px;
    display: block;
    text-transform: uppercase;
}

header .nav-menu ul li:hover a {
    background-color: var(--color-primary);
    color: white;
}


/* BODY */
main {
    width: 100%;
}

section#main-news {
    background-color: var(--color-primary-light);
    padding: 10px;

    border-radius: var(--border-radius);
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.452);
}

section#main-news img {
    width: 100%;
    display: block;
}


/* FOOTER */
article#about-us h3 {
    font-size: 1.3em;
    margin-bottom: 5px;
}

footer nav.nav-menu ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 20px 0;
}

footer .nav-menu ul li {
    letter-spacing: 2px;
    text-align: left;
}

footer .nav-menu ul li:hover a {
    background-color: var(--dimmed-text-color);
    color: var(--dimmed-text-color);
    box-shadow: 0 0 1px white;
}


